services:
  tests:
    container_name: tests
    build:
      context: .
      dockerfile: Dockerfile.php-${PHP_VERSION:-8.3}
    networks:
      - database
    volumes:
      - ./phpunit.xml:/usr/code/phpunit.xml
      - ./src:/usr/src/code/src
      - ./tests:/usr/src/code/tests
    depends_on:
      - redis
      - redis-cluster
      - hazelcast
      - memcached
      - shardA
      - shardB
      - shardC

  redis:
    image: redis:6.0-alpine
    container_name: redis
    networks:
      - database

  redis-cluster:
    image: grokzen/redis-cluster:7.0.10
    container_name: redis-cluster
    environment:
      - IP=0.0.0.0
    networks:
      - database

  hazelcast:
    image: hazelcast/hazelcast:5.1.3
    environment:
      HZ_NETWORK_MEMCACHEPROTOCOL_ENABLED: "true"
    container_name: hazelcast
    networks:
      - database  

  memcached:
    image: memcached:1.6.17-alpine
    container_name: memcached
    networks:
      - database
  
  shardA:
    image: redis:6.0-alpine
    container_name: shardA
    networks:
      - database
  
  shardB:
    image: redis:6.0-alpine
    container_name: shardB
    networks:
      - database  
  
  shardC:
    image: redis:6.0-alpine
    container_name: shardC
    networks:
      - database

networks:
  database:
